.cont1 {
    margin: 0 auto;
    /* Centraliza o container horizontalmente */
    background-color: #A3DBE4;
    /* Fundo azul claro */
    padding: 20px;
    /* Espaçamento interno */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* Sombras suaves */
}
.cont2 {
    margin: 0 auto;
    /* Centraliza o container horizontalmente */
    background-color: #A3DBE4;
    /* Fundo azul claro */
    padding: 20px;
    /* Espaçamento interno */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* Sombras suaves */
    border-radius: 10px;
}

.tamanho {
    max-width: 60%;
    margin-top: 20px;

}

.cultura1 {
    display: flex;
    align-items: center;
    /* Alinha o conteúdo no centro verticalmente */
    justify-content: center;
    /* Centraliza o conteúdo dentro do container */
    gap: 20px;
    /* Espaço entre a imagem e o texto */
    padding: 20px;
    /* Espaçamento interno */
    border-radius: 10px;
    /* Bordas arredondadas */
    width: 60%;
    /* Define 80% da largura da tela */
    max-width: 1200px;
    /* Limita a largura máxima */
    margin: 0 auto;
    /* Centraliza o container horizontalmente na tela */

}

.cultura1 img {
    width: 200px;
    /* Tamanho da imagem */
    height: auto;
    /* Mantém a proporção da imagem */
}

.cultura1 p {
    flex: 1;
    /* Faz o parágrafo ocupar o espaço restante */
    text-align: justify;
    /* Alinha o texto de forma justificada */
}

.linha {
    position: absolute;
    left: 18.8%;
    width: 63.5%;
    /* Define o comprimento da linha */
    height: 10px;
    /* Define a espessura da linha */
    background-color: #7bcbd1;
    /* Cor da linha */

}

body {
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.card {
    display: flex;
    border-radius: 10px;
    padding: 20px;
    width: 60%;
}

.text {
    flex: 1;
    padding-right: 20px;
    border-left: 3px solid #6FC3D0;
    /* Linha vertical na esquerda */
    padding-left: 20px;
    /* Espaçamento entre o texto e a linha */
}

.text h2 {
    background-color: #d0f0ff;
    padding: 10px;
    border-radius: 5px;
    color: #008080;
}

.text ul {
    padding-left: 20px;
    font-size: 14px;
}
.text2 {
    flex: 1;
    padding-right: 20px;
    border-right: 3px solid #6FC3D0;
    /* Linha vertical na esquerda */
    padding-left: 20px;
    /* Espaçamento entre o texto e a linha */
}

.text2 h2 {
    background-color: #d0f0ff;
    padding: 10px;
    border-radius: 5px;
    color: #008080;
}

.text2 ul {
    padding-left: 20px;
    font-size: 14px;
}

.image {
    flex: 0 0 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image img {
    border: 5px solid #6FC3D0;
    width: 100%;
    max-width: 300px;
}

.img2 {
    padding: 10px ;
    border: 5px solid #4c8790;
    width: 100%;
    max-width: 300px;
}
.final{
    margin-top: 20px;
    padding: 30px;
}