body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    background-color: #ffffff; /* Cor de fundo opcional */
    font-family: Arial, sans-serif;
    overflow-x: hidden;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 180px;
    background-color: #A3DBE4;
    border-bottom: 1px solid #A3DBE4;
    height: 94px;
}

.left-buttons,
.right-buttons {
    display: flex;
}

.nav-button {
    font-size: 17px;
    margin: 0 30px;
    padding: 10px 15px;
    background-color: #A3DBE4;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-shadow: rgb(50, 50, 50) 0.1em 0.1em 0.1em;
}

.nav-button:hover {
    background-color: #A3DBE4;
}

.logo-container {
    position: absolute;
    top: -40px;
    left: 50%;
    transform: translateX(-50%); /* Centraliza horizontalmente */
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.logo {
    width: 400px; /* Largura fixa */
    height: 200px; /* Altura fixa */
    object-fit: contain; /* Mantém a proporção da imagem */
}

img.principal-image {
    width: 850px;
    height:400px;
    margin-left: 330px;
    margin-top: 15px;
}

.animated-text-container {
    display: flex;
    justify-content: center;
    align-items: center; /* Centraliza verticalmente o texto */
    position: relative;
    height: 100px;
    background-color: rgb(255, 255, 255); /* Temporário para verificar o contêiner */
    opacity: 1; /* Torna o contêiner visível */
    overflow: hidden;
}

.animated-text {
    font-size: 2rem;
    font-weight: bold;
    color: #333;
    position: relative;
    left: 0; /* Garantimos que o texto esteja visível inicialmente */
    white-space: nowrap;
    opacity: 1; /* Garantimos que o texto seja visível */
}

@keyframes slideInFromLeft {
    0% {
        left: -100%; /* Começa fora da tela à esquerda */
        opacity: 0;
    }
    100% {
        left: 0; /* Termina no centro */
        opacity: 1;
    }
}

.show-info-text {
    animation: slideInFromLeft 1.5s ease-out forwards;
}

.show-info-text b{
    font-size: 16.5px;
}

.info-text {
    margin: 5px auto; /* Espaço acima e abaixo do texto, centraliza horizontalmente */
    max-width: 1200px; /* Limita a largura máxima do texto */
    font-size: 1rem; /* Tamanho da fonte */
    line-height: 1.6; /* Espaçamento entre linhas */
    color: #333; /* Cor do texto */
    text-align: center; /* Centraliza o texto */
    opacity: 0; /* Inicialmente invisível */
    position: relative;
    left: 0; /* Garantimos que o texto esteja visível inicialmente */
    overflow: hidden;
    margin-top: 10px;
}

.info-text p {
    margin: 0; /* Remove margens padrão do parágrafo */
}

/* Estilo para o container da imagem e texto animado */
.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 80px;
}

.text-container {
    flex: 1;
    display: flex;
    flex-direction: column; /* Para alinhar o texto e a lista verticalmente */
    justify-content: center;
    align-items: flex-start; /* Alinhar itens à esquerda */
    position: relative;
    overflow: hidden;
    margin-bottom: 120px;
}

.animated-text, .animated-list {
    font-size: 2rem;
    font-weight: bold;
    color: #333;
    position: relative;
    left: 100%; /* Começa fora da tela à direita */
    white-space: nowrap;
    opacity: 0; /* Invisível até que a animação inicie */
}

.animated-list {
    font-size: 1.2rem; /* Tamanho menor para a lista */
    font-weight: normal;
    margin-top: 20px;
}

@keyframes slideInFromRight {
    0% {
        left: 100%; /* Fora da tela à direita */
        opacity: 0;
    }
    100% {
        left: 50%; /* Para perto do centro */
        transform: translateX(-50%);
        opacity: 1;
    }
}

.text-container.animate .animated-text, 
.text-container.animate .animated-list {
    animation: slideInFromRight 2s ease-out forwards;
}

.animated-list {
    list-style-type: disc;
    font-size: 1.2rem;
    font-weight: normal;
    margin-top: 20px;
}

.animated-list li {
    margin-bottom: 10px;
}


.square-container {
    display: flex;
    justify-content: flex-start; 
    gap: 200px; 
    margin-left: 275px;
}

.square {
    height: 300px;
    width: 400px;
    background-color: #6FC3D0;
}

.sub-header {  
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 180px;
    background-color: #6FC3D0;
    border-bottom: 1px solid #A3DBE4;
    height: 35px;
    align-self: center;
    color: white;
    font-size: 23px;
    text-shadow: rgb(50, 50, 50) 0.0em 0.1em 0.1em;
    font-weight: bold;
}

footer {
    background-color: #0b909f;
    color: #fff;
    text-align: center;
    padding: 20px;
    position: relative;
    bottom: 0;
    width: 100%;
}

/* Estilo para os links do rodapé */
footer a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}

footer a:hover {
    text-decoration: underline;
}

.footerlogo{
    width:400px;
}

footer p {
    font-size: 17px; 
}

/* Responsividade */
@media (max-width: 600px) {
    footer {
        font-size: 14px;
    }
}