@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
.texto1 {
    background-color: #B5F5FF; /* Cor de fundo do quadrado */
    color: black; /* Cor do texto */
    font-weight: bold;
    padding: 20px; /* Espaçamento interno */
    width: 48%;
    height: 115px;
    margin-left: 25%;
}
.imagem1 img{
    width: 260px;
    height: 260px;
    margin-left: 25%;
    margin-top: 22px;
}

.texto2 {
    background-color: white; /* Cor de fundo do quadrado */
    color: black; /* Cor do texto */
    padding: 20px; /* Espaçamento interno */
    margin-left: 48%;
    width: 320px;
    margin-top: -15%;
    font-family: "Inter", sans-serif;
}
.texto3 {
    background-color: #B5F5FF; /* Cor de fundo do quadrado */
    color:#1C5A63; /* Cor do texto */
    padding: 4px; /* Espaçamento interno */
    text-align: center;
    margin-left: 48%;
    width: 27%;
    margin-top: 1%;
}
.texto4 {
    background-color: white; /* Cor de fundo do quadrado */
    color: black; /* Cor do texto */
    padding: 20px; /* Espaçamento interno */
    width: 48%;
    height: 50px;
    margin-left: 25%;
    font-family: "Inter", sans-serif;
    margin-top: 1%;
}
.numero1 {
    background-color: #6FC3D0; /* Cor de fundo do quadrado */
    color: white; /* Cor do texto */
    padding: 2px; /* Espaçamento interno */
    width: 35px;
    height: 35px;
    margin-left: 25%;
    border-radius: 70%;
    text-align: center;
    font-family: "Inter", sans-serif;
    font-size: 23px;
    border: 0.4px solid black;
    margin-top: 20px;
}
.bold {
    font-weight: bold; /* Aplica o negrito */
}
.texto5 {
    background-color: #DEFAFF; /* Cor de fundo do quadrado */
    color: black; /* Cor do texto */
    padding: 20px; /* Espaçamento interno */
    width: 43%;
    height: 170px;
    margin-left: 27.5%;
    border-radius: 38px;
    font-family: "Inter", sans-serif;
    border: 0.2px solid black;
}
.numero2 {
    background-color:#DEFAFF; /* Cor de fundo do quadrado */
    color: white; /* Cor do texto */
    padding: 2px; /* Espaçamento interno */
    width: 35px;
    height: 35px;
    margin-left: 25%;
    border-radius: 70%;
    text-align: center;
    font-family: "Inter", sans-serif;
    font-size: 23px;
    border: 0.4px solid black;
    margin-top: 20px;
    font-weight: bold;
}
.texto6 {
    background-color: #6FC3D0; /* Cor de fundo do quadrado */
    color: black; /* Cor do texto */
    padding: 20px; /* Espaçamento interno */
    width: 43%;
    height: 165px;
    margin-left: 27.5%;
    border-radius: 38px;
    font-family: "Inter", sans-serif;
    border: 0.2px solid black;
}
.numero3 {
    background-color:#6FC3D0; /* Cor de fundo do quadrado */
    color: white; /* Cor do texto */
    padding: 2px; /* Espaçamento interno */
    width: 35px;
    height: 35px;
    margin-left: 25%;
    border-radius: 70%;
    text-align: center;
    font-family: "Inter", sans-serif;
    font-size: 23px;
    border: 0.4px solid black;
    margin-top: 20px;
}
.texto7 {
    background-color: #DEFAFF; /* Cor de fundo do quadrado */
    color: black; /* Cor do texto */
    padding: 20px; /* Espaçamento interno */
    width: 43%;
    height: 165px;
    margin-left: 27.5%;
    border-radius: 38px;
    font-family: "Inter", sans-serif;
    border: 0.2px solid black;
}
.numero4{
    background-color:#DEFAFF; /* Cor de fundo do quadrado */
    color: white; /* Cor do texto */
    padding: 2px; /* Espaçamento interno */
    width: 35px;
    height: 35px;
    margin-left: 25%;
    border-radius: 70%;
    text-align: center;
    font-family: "Inter", sans-serif;
    font-size: 23px;
    border: 0.4px solid black;
    margin-top: 20px;
}
.texto8 {
    background-color: #6FC3D0; /* Cor de fundo do quadrado */
    color: black; /* Cor do texto */
    padding: 20px; /* Espaçamento interno */
    width: 43%;
    height: 165px;
    margin-left: 27.5%;
    border-radius: 38px;
    font-family: "Inter", sans-serif;
    border: 0.2px solid black;
}
.numero5{
    background-color:#6FC3D0; /* Cor de fundo do quadrado */
    color: white; /* Cor do texto */
    padding: 2px; /* Espaçamento interno */
    width: 35px;
    height: 35px;
    margin-left: -9%;
    border-radius: 70%;
    text-align: center;
    font-family: "Inter", sans-serif;
    font-size: 23px;
    border: 0.4px solid black;
    margin-top: 55px;
}
.texto9{
    background-color: #DEFAFF; /* Cor de fundo do quadrado */
    color: black; /* Cor do texto */
    padding: 20px; /* Espaçamento interno */
    width: 101%;
    height: 159px;
    margin-left: -29px;
    border-radius: 38px;
    font-family: "Inter", sans-serif;
    border: 0.2px solid black;
}
.linha {
    height: 2px; /* Altura da linha */
    background-color: #6FC3D0; /* Cor da linha */
    margin: 10px 0; /* Espaço acima e abaixo da linha */
    color:white;
    margin-top: 5%;
}
.texto10{
    background-color: #B5F5FF; /* Cor de fundo do quadrado */
    color:#1C5A63; /* Cor do texto */
    padding: 4px; /* Espaçamento interno */
    text-align: center;
    width: 70%;
    margin-top: 7%;
    font-weight: bold;
}
.texto11{
    background-color: white; /* Cor de fundo do quadrado */
    color:black; /* Cor do texto */
    padding: 4px; /* Espaçamento interno */
    width: 40%;
    margin-top: 7%;
}
.imagem2 img{
    width: 260px;
    height: 260px;
    margin-left: 53%;
    margin-top: -250px;
}
.imagem3 img{
    width: 300px;
    height: 290px;
    margin-left: 2%;
    margin-top: -60%;
}
.texto12{
    background-color: white; /* Cor de fundo do quadrado */
    color:black; /* Cor do texto */
    padding: 4px; /* Espaçamento interno */
    width: 40%;
    margin-top: 7%;
    margin-left: 55%;
}
.texto13 {
    background-color: white; /* Cor de fundo do quadrado */
    color:black; /* Cor do texto */
    padding: 4px; /* Espaçamento interno */
    width: 50%;
    margin-top: 7%;
    margin-left: 3%;
}
.imagem4 img {
    width: 330px;
    height: 260px;
    margin-left: 53%;
    margin-top: -100px;
}
.texto14{
    background-color: #B5F5FF; /* Cor de fundo do quadrado */
    color:#1C5A63; /* Cor do texto */
    padding: 4px; /* Espaçamento interno */
    text-align: center;
    width: 70%;
    margin-top: 7%;
    font-weight: bold;
    margin-left: 160px;
}
.texto15 {
    background-color: white; /* Cor de fundo do quadrado */
    color: black; /* Cor do texto */
    padding: 20px; /* Espaçamento interno */
    width: 90%;
    height: 370px;
}
.linha2 {
    height: 2px; /* Altura da linha */
    background-color: #6FC3D0; /* Cor da linha */
    margin: 10px 0; /* Espaço acima e abaixo da linha */
    color:white;
    margin-top: 5%;
    width: 20%;
    margin-left: -20px;
}
.texto16{
    background-color: #B5F5FF; /* Cor de fundo do quadrado */
    color:#1C5A63; /* Cor do texto */
    padding: 4px; /* Espaçamento interno */
    text-align: center;
    width: 70%;
    margin-top: 5%;
    font-weight: bold;
}
.linha3 {
    height: 2px; /* Altura da linha */
    background-color: #6FC3D0; /* Cor da linha */
    margin: 10px 0; /* Espaço acima e abaixo da linha */
    color:white;
    margin-top: 5%;
    width: 20%;
}
.texto17{
    background-color: white; /* Cor de fundo do quadrado */
    color:#000000; /* Cor do texto */
    padding: 4px; /* Espaçamento interno */
    width: 100%;
    margin-top: 5%;
}
.texto18 {
    background-color: #DEFAFF; /* Cor de fundo do quadrado */
    color: black; /* Cor do texto */
    padding: 20px; /* Espaçamento interno */
    width: 95%;
    height: 220px;
    border-radius: 38px;
    font-family: "Inter", sans-serif;
    border: 20px solid #6FC3D0;
    margin-top: 30px;
    margin-left: -4%;
}